
/*STRUCTURE*/

    .container {
        display: inline-block;
        width: 100%;
    }

    .container.content {
        background-color: white;
        padding-top: 40px;
        margin-bottom: 20px;
    }

    .container.footer {
        background-color: darkblue;
        padding-top: 10px;
        padding-bottom: 80px;
    }

        .container > .hero-row {
            display: inline-block;
            width: 600px;
            margin-left: calc( 50% - 300px );
            background-color: transparent;
            text-align: center;
        }

        .container > .row {
            display: inline-block;
            width: 1000px;
            margin-left: calc( 50% - 500px );
            background-color: white;
        }

            .container > .row > .left {
                display: inline-block;
                float: left;
                width: 50%;
            }

            .container > .row > .right {
                display: inline-block;
                width: 40%;
                float: right;
            }

@media (max-width: 1100px) {
    .container > .row {
        width: 800px;
        margin-left: calc( 50% - 400px );
    }
}

@media (max-width: 900px) {
    .container > .row {
        width: 600px;
        margin-left: calc( 50% - 300px );
    }
}

@media (max-width: 700px) {
    .container > .hero-row,
    .container > .row {
        width: 600px;
        margin-left: calc( 50% - 300px );
        padding-right: 20px;
        padding-left: 0;
    }    
    .container > .row > .left {
        float: left;
        width: 100%;
        margin-bottom: 80px;
    }

    .container > .row > .right {
        width: 100%;
        float: right;
    }
}

/*HERO*/

.container.hero {
    background-color: darkblue;
    background-image: url(../img/Merknad_2020-02-24_125822.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 80px;
}

    .hero-row > img {
        height: 40px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .hero-row > h1 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 10px;
    }

    .hero-row > p {
        font-size: 11px;
        color: rgb(139, 139, 139);
        padding: 0 120px;
    }


/*CONTENT*/

.content h2 {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
}

.content p {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    line-height: 25px;
    margin: 20px 0;
    color: #777;
}

.content p > a {
    color: #ea1e63;
    text-decoration: none;
}


/*FORM*/

.hero-form {
    width: 100%;
    display: inline-block;
    padding: 0 145px;
    margin-top: 50px;
}

    .hero-form > input {
        display: inline-block;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #76cef2;
        padding-bottom: 7px;
        width: 100%;
        font-size: 12px;
        margin-bottom: 30px;
    }

    ::placeholder { 
        color: white;
      }

.form-second {
width: 100%;
margin-top: 30px;
}

.form-second > .form-row {
    width: 45%;
    display: inline-block;
    float: left;
}

    .form-second > .left {
        margin-right: 5%;
    }

    .form-second > .right {
        margin-left: 5%;
    }

.form-second > .message-row {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;;
}

.form-second > input {
    border: none;
    border-bottom: 1px solid #cecece;
    padding-bottom: 10px;
}

    .form-second > ::placeholder {
        color: grey;
    }

/*BUTTON*/

.btn {
    display: inline-block;
    background-color: #ea1e63;
    text-decoration: none;
    color: white;
    padding: 8px 30px;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 2px;
}

.btn-two {
    display: inline-block;
    float: right;
    margin-top: 25px;
}







































/*

.container {
    width: 100%;
    display: inline-block;
    position: relative;
}

    .hero-img {
        background-image: url(/img/Merknad_2020-02-24_125822.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 60vh;
       
    
        
    }
    .section-hero {
        display: inline-block;
        width: 35%;
        margin-left: calc( (100% - 35%) / 2 );
        text-align: center;
    }

        .logo {
            height: 40px;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 30px;
            text-transform: uppercase;
            font-weight: 800;
        }

        p {
            font-size: 11px;
            color: rgb(139, 139, 139);
            padding: 8px 0;
        }

    .numbers {
        display: inline-block;
        float: left;
        width: 100%;
        padding: 0 10px;
        color: white;
    }

        .number-column {
            display: inline-block;
            float:left;
            width: 25%;
        }

        .number-column p {
            color: white;
        }

    form {
        width: 100%;
        display: inline-block;
        padding: 0 30px;
        margin-top: 20px;
    }

        .input-one {
            display: inline-block;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid rgb(255, 255, 255);
            padding-bottom: 7px;
            width: 100%;
            color: white;
            
        }

        ::placeholder { 
            color: white;
          }

        .btn {
            display: inline-block;
            background-color: #ea1e63;
            text-decoration: none;
            color: white;
            padding: 8px 30px;
            font-size: 15px;
            font-weight: 500;
            text-transform: capitalize;
            border-radius: 2px;
            margin-top: 20px;
        }

        .fa-microphone {
            font-size: 40px;
            margin-top: 15px;
          }

    .section-second {
        display: inline-block;
        float: left;
        width: 70%;
        margin-left: calc( (100% - 70%) / 2 );
        margin-top: 80px;
    }

        .left {
            display: inline-block;
            float:left;
            width: 50%;
            padding-right: 40px;
        }

            h2 {
                font-size: 18px;
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            .p-box {
                font-size: 12px;
                color: grey;
                line-height: 2;
                padding: 0;
                margin-bottom: 40px;
            }

        .right {
            display: inline-block;
            float:left;
            width: 50%;
            padding-left: 40px;
        }

            .link-text {
                text-decoration: none;
                color: #ea1e63;
            }

            .second-form {
                display: inline-block;
                float:left;
                width: 100%;
                color: grey;
                font-size: 12px;
            }

                .row-one {
                    display: inline-block;
                    float:left;
                    width: 50%;
                }

                .row-second {
                    display: inline-block;
                    float:left;
                    width: 100%;
                    margin-top: 20px;
                }

                .row-second, label, input {
                    width: 100%;
                }

                .input-two {
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid rgb(156, 156, 156);
                }

                    .input-padding-1 {
                        padding-right: 10px;
                    }

                    .input-padding-2 {
                        padding-left: 10px;
                    }
                
            .btn-two {
                display: inline-block;
                float: right;
                margin-top: 25px;
            }

    footer {
        display: inline-block;
        float: left;
        width: 100%;
        text-align: center;
        background-color: #03a9f5;
        margin-top: 70px;
    }

        .footer-icons {
            padding: 25px;
            border-bottom: 1px solid #1fb2f5;
            width: 70%;
            margin-left: calc( (100% - 70%) / 2 );
        }

            i {
                color: white;
                padding: 0 15px;
            }

        .footer-logo {
            display: inline-block;
            margin-top: 25px;
            display: inline-block;
            width: 40%;
            padding: 0;
        }

            .footer-img {
                display: inline-block;
                height: 34px;
                padding: 0;
            }
            
            .footer-h3 {
                display: inline-block;
                padding: 0;
                font-size: 40px;
                line-height: 40px;
                color: white;
            }

            .footer-text {
                margin-top: 20px;
            }

            .footer-text > p {
                width: 50%;
                color: white;
                margin-left: calc( (100% - 50%) / 2 );
                padding-bottom: 7px;
                
                
                
            }

            .footer-text > p > a {
                color: white;
            }

            */